/*--------- 
    Reset 
----------*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/*------------- 
    Debug Zone 
--------------*/



/*------------- 
    /Debug Zone 
--------------*/
/* .debug header{
    background-color: blue;
}

.debug .logo-col{
    background-color: pink;
    height: 80px;
}

.debug .login-col{
    background-color: yellow;
    height: 80px;
} */

/*----------- 
    Commons 
------------*/

.container-big{
    width: 1440px;
}

.container{
    width: 1350px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*----------- 
    Typo 
------------*/


/*----------- 
    Buttons
------------*/
.btn{
    color: #ffffff;
    background-color: #0061ff;
    padding: 8px 20px;
    border: none;
}

/*----------- 
    Header 
------------*/

header{
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #ffffff;
    height: 80px;
    padding: 0px 20px;
}

header ul, header ul li{
    display: inline-block;
}

header ul li a{
    color: inherit;
    margin-right: 40px;
    text-decoration: none;
}

.logo-col, .login-col{
    float: left;
    line-height: 80px;
    width: 50%;
} 

.logo-col img{
    vertical-align: middle;
    margin-right: 40px;
}

.login-col{
    text-align: right;
}

/*----------- 
    /Header 
------------*/

/*----------- 
    /Main
------------*/