/*--------- 
    Reset 
----------*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*----------- 
    Commons 
------------*/

.container-big{
    margin: 0 auto;
    max-width: 1440px;
}

.container{
    margin: 0 auto;
    max-width: 1350px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

hr{
    width: 20%;
    color: #d0d0d3;
    margin-bottom: 45px;
}

/*----------- 
    Typo 
------------*/

h1{
    font-size: 80px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 35px;
}

/*----------- 
    Buttons
------------*/
.btn{
    color: #ffffff;
    background-color: #0061ff;
    font-size: 18px;
    padding: 8px 20px;
    border: none;
}

.btn-trasparent{
    color:inherit;
    background-color: transparent;
    border: 1px solid black;

}

.btn-white{
    color: black;
    background-color: white;
    padding: 8px 65px;
    
}

/*----------- 
    Header 
------------*/

header{
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #ffffff;
    height: 80px;
    padding: 0px 20px;
}

header ul, header ul li{
    display: inline-block;
}

header ul li a{
    color: inherit;
    margin-right: 40px;
    text-decoration: none;
}

.logo-col, .login-col{
    float: left;
    line-height: 80px;
    width: 50%;
} 

.logo-col img{
    vertical-align: middle;
    margin-right: 40px;
}

.login-col{
    text-align: right;
}

/*----------- 
    /Header 
------------*/

/*----------- 
    /Main
------------*/
/*----------- 
    Hero
------------*/

.sct-hero{
    background-color: #b4d0e7;
    padding-top: 110px;
    margin-bottom: 200px;
}

.hero-text, .hero-pic{
    display: inline-block;
    vertical-align: top;
}

.hero-pic{
    width: calc(65% - 4px);
}

.hero-pic img{
    width: 100%;
    position: relative;
    bottom: -60px;
}

.hero-text{
    width: calc(35% - 104px);
    padding-top: 60px;
    text-align: left;
    margin-right: 100px;
}

.hero-text .btn{
    margin: 20px 0px 10px 0px;
}

.hero-text i{
    margin-top: 50px;
    font-size: 38px;
}

small{
    font-size: 12px;
    display: block;
}


/*----------- 
    Subs
------------*/
/* Heading of the subscription */

.sct-subs{
    text-align: left;
    margin-bottom: 150px;
}

.radio-ipt{
    margin-top: 60px;
    margin-bottom: 45px;
}

.radio-ipt label{
    margin-left: 5px;
    margin-right: 20px;
}

/* Subscription info */


/* Vertical columns */
.col{
    float:left;
    width: calc(100% / 3 - 40px);
    min-height: 1024px;
    border: 1px solid #d0d0d3;
    margin-bottom: 50px;
}

.subs-info .col:nth-child(2n){
    margin: 0px 60px;
}

.col-title{
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    padding: 15px 0px;
}

.col-text{
    padding: 30px;
    text-align: left;
}

.col-text small{
    margin-bottom: 60px;
}

.col-text i{
    margin: 10px 5px;
}

.col-text .btn{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.col-text ul li{
    margin: 35px 0px;
    list-style: none;
}

.col-text ul li::before{
    content: "\2713";
    color: #0061ff;
    margin-right: 5px;
}

/* Horizzontal column */
.horizzontal-col{
    border: 1px solid #d0d0d3;
}

.horizzontal-col h3{
    width: calc(70% - 4px);
    display: inline-block;
}

.horizzontal-col .btn{
    width: calc(30% - 4px);
}

.horizzontal-col .col-text h4{
    margin-bottom: 40px;
}

/*---------------- 
    Find a partner
-----------------*/

.sct-find-partner{
    margin-bottom: 120px;
}

.col-pic-find, .col-text-find{
    float: left;
    width: calc(50% - 40px);
}

.col-pic-find img{
    width: 100%;
}

.col-text-find{
    margin-left: 80px;
    padding-top: 45px;
}

.col-text-find h3{
    margin-bottom: 40px;
}

.col-text-find p{
    line-height: 28px;
    margin-bottom: 30px;
}

/*---------------- 
    Multitasking
-----------------*/

.sct-multitasking{
    margin-bottom: 210px;
}

.sct-multitasking h2{
    margin-bottom: 60px;
}

.sct-multitasking img{
    width: 100%;
}

.row-multi{
    margin-bottom: 120px;
}

.col-multi{
    float: left;
    width: calc(100% / 3 - 54px);
}

.col-multi:nth-child(2n){
    margin: 0px 81px;
}

.col-multi-text p{
    margin-top: 40px;
}

.col-multi-text span{
    text-decoration: underline;
}


/*---------------- 
        ADV
-----------------*/

/* Heading of advs */
.adv-title{
    margin-bottom: 50px;
}

.adv-title h2{
    width: 50%;
    margin-bottom: 50px;
}

.adv-title a{
    font-size: 20px;
}


/* Picture various sponsor */

.col-adv, .col-adv-main{
    float: left;
}

.col-adv{
    width: 15vw;
}

.col-adv-main{
    width: calc(100% - 60vw);
    height: 30vw;
    background-color: #f5f5f5;
    padding: 45px 45px 45px 60px;

}

.col-adv-main img{
    width: 20%;
}

.col-adv-main hr{
    width: 5%;
    margin: 40px 0px;
}

.col-adv-main blockquote{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 60px;
}

.pic{
    position: relative;
    height: 15vw;
    padding: 80px;
    
}

.pic img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

/* Style each box */

.pic-designit{
    border: 10px solid #d0e9cd;
    background-color: #a2d39b;
}

.pic-florida{
    background-color: #0093ce;
}

.pic-asu{
    background-color: #61082b;
}

.pic-topps{
    background-color: #ff1c1c;
}

.pic-wbr{
    background-color: #d5001f;
}

.pic-lonely{
    background-color: #0d2481;
}

.pic-hearst{
    background-color: #b4d0e7;
}

.pic-clear{
    background-color: #ffd830;
}

/*---------------- 
    Trial
-----------------*/

.sct-trial{
    background-color: #b4d0e7;
    color: #61082b;
    padding: 140px 0px;
    margin-bottom: 140px;
}


.sct-trial h2, .trial-button{
    display: inline-block;
    width: calc(50% - 4px);
}

.trial-button{
    vertical-align: top;
    text-align: right;
}

/*---------------- 
        FAQ
-----------------*/

.sct-faq{
    margin-bottom: 130px;
}

.sct-faq .container{
    border-bottom: 1px solid #d0d0d3;
    
}

.sct-faq h3{
    margin-bottom: 60px;
}

.faq-question{
    font-size: 20px;
    font-weight: bold;
    padding: 40px 0px;
    border-top: 1px solid #d0d0d3;

}

.faq-text, .faq-symbol{
    display: inline-block;
}

.faq-text{
    width: calc(90% - 4px);
}

.faq-symbol{
    width: calc(10% - 4px);
    text-align: right;
}

/*----------- 
    /Main
------------*/

/*----------- 
    Footer
------------*/
footer{
    background-color: #000000;
    color: white;
}

footer hr{
    width: 10%;
    color: #999999;
}

.top-footer{
    padding: 105px 0px;
}

.top-footer h4{
    font-size: 20px;
    font-weight: bold;
}

.top-footer ul li{
    list-style: none;
    font-size: 18px;
    margin-top: 10px;

}

.foot-col{
    float: left;
    width: calc(100% / 5);
}

.bottom-footer{
    padding: 50px;
    color: #999999;
}

.bottom-footer i{
    vertical-align: middle;
    margin-right: 5px;
}

/*----------- 
    /Footer
------------*/

