/*--------- 
    Reset 
----------*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/*------------- 
    Debug Zone 
--------------*/



/*------------- 
    /Debug Zone 
--------------*/
/* .debug header{
    background-color: blue;
}

.debug .logo-col{
    background-color: pink;
    height: 80px;
}

.debug .login-col{
    background-color: yellow;
    height: 80px;
} */

/* .debug .sct-hero{
    background-color: blue;
    height: 500px;
} */

/*----------- 
    Commons 
------------*/

.container-big{
    margin: 0 auto;
    width: 1440px;
}

.container{
    width: 1350px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*----------- 
    Typo 
------------*/

h1{
    font-size: 80px;
}

/*----------- 
    Buttons
------------*/
.btn{
    color: #ffffff;
    background-color: #0061ff;
    padding: 8px 20px;
    border: none;
}

/*----------- 
    Header 
------------*/

header{
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #ffffff;
    height: 80px;
    padding: 0px 20px;
}

header ul, header ul li{
    display: inline-block;
}

header ul li a{
    color: inherit;
    margin-right: 40px;
    text-decoration: none;
}

.logo-col, .login-col{
    float: left;
    line-height: 80px;
    width: 50%;
} 

.logo-col img{
    vertical-align: middle;
    margin-right: 40px;
}

.login-col{
    text-align: right;
}

/*----------- 
    /Header 
------------*/

/*----------- 
    /Main
------------*/
/*----------- 
    Hero
------------*/

.sct-hero{
    padding-top: 110px;
    background-color: #b4d0e7;
}

.hero-text, .hero-pic{
    display: inline-block;
    vertical-align: top;
}

.hero-pic{
    width: calc(65% - 4px);
}

.hero-pic img{
    width: 100%;
    position: relative;
    bottom: -60px;
}

.hero-text{
    width: calc(35% - 104px);
    padding-top: 60px;
    text-align: left;
    margin-right: 100px;
}

.hero-text .btn{
    margin: 20px 0px 10px 0px;
}

.hero-text i{
    margin-top: 50px;
    font-size: 38px;
}

small{
    font-size: 12px;
    display: block;
}

/*----------- 
    /Main
------------*/