/*--------- 
    Reset 
----------*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/*------------- 
    Debug Zone 
--------------*/



/*------------- 
    /Debug Zone 
--------------*/
/* .debug header{
    background-color: blue;
}

.debug .logo-col{
    background-color: pink;
    height: 80px;
}

.debug .login-col{
    background-color: yellow;
    height: 80px;
} */

/* .debug .sct-hero{
    background-color: blue;
    height: 500px;
} */

/* .debug .subs-info{
    background-color: blue;
    height: 600px;
} */

/* .debug .col, .debug .col-mid{
    background-color: green;
    height: 600px;
} */

/*----------- 
    Commons 
------------*/

.container-big{
    margin: 0 auto;
    max-width: 1440px;
}

.container{
    margin: 0 auto;
    max-width: 1350px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

hr{
    width: 20%;
    color: #d0d0d3;
    margin-bottom: 45px;
}

/*----------- 
    Typo 
------------*/

h1{
    font-size: 80px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 35px;
}

/*----------- 
    Buttons
------------*/
.btn{
    color: #ffffff;
    background-color: #0061ff;
    font-size: 18px;
    padding: 8px 20px;
    border: none;
}

/*----------- 
    Header 
------------*/

header{
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #ffffff;
    height: 80px;
    padding: 0px 20px;
}

header ul, header ul li{
    display: inline-block;
}

header ul li a{
    color: inherit;
    margin-right: 40px;
    text-decoration: none;
}

.logo-col, .login-col{
    float: left;
    line-height: 80px;
    width: 50%;
} 

.logo-col img{
    vertical-align: middle;
    margin-right: 40px;
}

.login-col{
    text-align: right;
}

/*----------- 
    /Header 
------------*/

/*----------- 
    /Main
------------*/
/*----------- 
    Hero
------------*/

.sct-hero{
    background-color: #b4d0e7;
    padding-top: 110px;
    margin-bottom: 200px;
}

.hero-text, .hero-pic{
    display: inline-block;
    vertical-align: top;
}

.hero-pic{
    width: calc(65% - 4px);
}

.hero-pic img{
    width: 100%;
    position: relative;
    bottom: -60px;
}

.hero-text{
    width: calc(35% - 104px);
    padding-top: 60px;
    text-align: left;
    margin-right: 100px;
}

.hero-text .btn{
    margin: 20px 0px 10px 0px;
}

.hero-text i{
    margin-top: 50px;
    font-size: 38px;
}

small{
    font-size: 12px;
    display: block;
}


/*----------- 
    Subs
------------*/
/* Heading of the subscription */

.sct-subs{
    text-align: left;
    margin-bottom: 150px;
}

.radio-ipt{
    margin-top: 60px;
    margin-bottom: 45px;
}

.radio-ipt label{
    margin-left: 5px;
    margin-right: 20px;
}

/* Subscription info */


/* Vertical columns */
.col{
    float:left;
    width: calc(100% / 3 - 40px);
    min-height: 1024px;
    border: 1px solid #d0d0d3;
    margin-bottom: 50px;
}

.subs-info .col:nth-child(2n){
    margin: 0px 60px;
}

.col-title{
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    padding: 15px 0px;
}

.col-text{
    padding: 30px;
    text-align: left;
}

.col-text small{
    margin-bottom: 60px;
}

.col-text i{
    margin: 10px 5px;
}

.col-text .btn{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.col-text ul li{
    margin: 35px 0px;
    list-style: none;
}

.col-text ul li::before{
    content: "\2713";
    color: #0061ff;
    margin-right: 5px;
}

/* Horizzontal column */
.horizzontal-col{
    border: 1px solid #d0d0d3;
}

.horizzontal-col h3{
    width: calc(70% - 4px);
    display: inline-block;
}

.horizzontal-col .btn{
    width: calc(30% - 4px);
}

.horizzontal-col .col-text h4{
    margin-bottom: 40px;
}

/*---------------- 
    Find a partner
-----------------*/

/*----------- 
    /Main
------------*/